html {
    font-size: 16px;
    margin: 0;
    padding: 0;
}
/* HEADER */
header {
    position: fixed;
    width: 100%;
    z-index: 100;
    left: 0px;
    top: 0px;
    height: 4rem;
    background-color: white;
}

.content {
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    height: 100%;
}

#logo{
    height: 3rem;
}

.logo {
    flex: 1;
    font-size: 1.75rem;
    height: 2rem;
}

.content ul {
    list-style: none;
    text-decoration: none;
    display: flex;
}

.content ul li {
    padding-left: 1rem;
}

.mobile {
    display: none;
}

/*MOBILE NAVBAR*/

@media only screen and (max-width: 480px)
 {
    .content{
        padding: 0;
    }
    header .desktop, header .logo, #logo{
        display: none;
    }

    header .mobile{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    header .mobile img {
        height: 2rem;
    }
}

/*MAIN CONTENT*/

.maincontent {
    position: relative;
    top: 3.5rem;
}

/*Start here*/

.starthere {
    display: flex;
    background-color: darkgray;
    padding: 2rem 0;
    align-items: center;
    margin: 0;
}
.startcontent {
    width: 25rem;
}

.starthere img {
    max-width: 60%;
    padding: 0 1.5rem;
}

.startbutton {
    background-color: black;
    text-align: center;
    border: 1px black solid;
    padding: 0.5rem;
    opacity: 0.5;
    color: white;
}

/*Mobile start here screen*/

@media only screen and (max-width:480px){
    .startcontent, #startimg, .startbutton {
        display: none;
    }

    .starthere {
        padding: 0;
    }
    .starthere .mobile {
        display: flex;
    }
    .startmobile {
        padding-bottom: 2rem;
    }
    
    .startmobile img {
        max-width: 100%;      
        padding: 0;      
    }
    
    .mobilebutton {
        background-color: black;
        text-align: center;
        border: 1px black solid;
        padding: 1rem;
        opacity: 0.5;
        color: white;
        margin: 0 1rem;
    }

    .startmobile h2 {
        margin: 0 1rem 1.5rem;
    }
    .startmobile h1 {
        margin: 2rem 1rem;
    }
    
}

/*Second Content*/

.secondcontent {
    display: flex;
}

/*Large box*/

.largerbox {
    max-width: 60%;
    padding: 2rem 1.5rem;
    border-right: 1px solid;
}
.largecontent img {
    max-width: 100%;
}

/*Small boxes*/

.smallerboxes {
    display: flex;
    max-width: 40%;
    flex-direction: column;
    bottom: 1rem;
    position: relative;
    padding: 2rem 0rem;
}
.smallcontent {
    display: flex;
    padding: 1rem 1rem 0.5rem;
    border-bottom: 1px solid;
    border-top: 1px solid;
}
.boximg {
    max-width: 35%;
    height: auto;
}
.textbox {
    max-width: 65%;
    margin: 1.5rem 3.5rem;
}
.mobileboxes{
    display: none;
}
/*Mobile*/

@media only screen and (max-width:480px){
    .largerbox, .smallerboxes {
        display: none;}
    .mobileboxes{
        display: block;
        padding-top: 1rem;
    }
    .mobilecontent {
        padding: 0 1rem;
    }
    .mobilecontent .mobilemedia{
        min-width: 100%;
        height: 15rem;
        object-fit: cover;
        object-position: 50% 50%;
    }
    #orientation{
        padding-top: 2rem;
        background-image: url(../images/information-orientation-mobile.jpg);
        height: 10rem;
        background-size: cover;
    }
    #ourcampus{
        padding-top: 2rem;
        background-image: url(../images/information-campus-mobile.jpg);
        height: 10rem;
        background-size: cover;
        margin-top: 2rem;
    }
    #guestlecture{
        padding-top: 2rem;
        background-image: url(../images/information-guest-lecture-mobile.jpg);
        height: 10rem;
        background-size: cover;
        margin-top: 2rem;
    }
    .mobiletext{
        padding-left: 1rem;
        padding-bottom: 2rem;
    }
}

/*START LEARNING*/

.learningcontent {
    background-color: lightgray;
    padding: 2rem 4.5rem;
}

.learningcontent h1 {
    text-align: center;
    margin: 0;
    padding-bottom: 2rem;
}

.smallboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.smallbox {
    background-color: white;
    margin: 1rem;
    font-size: 1.5rem;
    max-width: 26rem;
    line-height: 2rem;
}

.smallbox img {
    height: auto;
    width: 100%;
}
#courses {
    margin: 0.5rem 0;
}
.text {
    padding: 1rem 1rem 1.5rem 1rem;
}
.text p {
    margin: 0;
}
.text h3 {
    margin: 0;
}
.mobilelearning{
    display: none;
}

/*Mobile*/
@media only screen and (max-width:480px){
    .learningcontent{
        display: none;
    }
    .mobilelearning{
        display: block;
        padding: 2rem 0;
        border-top: 1px solid darkgrey;
        border-bottom: 1px solid darkgrey;
    }
    .mobilesmall{
        display: flex;
        flex-direction: column;
    }
    .mobilesmallbox{
        padding: 1rem 1rem 1.5rem;
        background-color: darkgrey;
        margin: 0.25rem;
        font-size: 1.5rem;  
        }
    #startlearning{
        text-align: center;
        margin: 0;
        padding-bottom: 0.75rem;
    }
    #learningtext{
        margin: 0;
        font-weight: 300;
    }
}



/*THESIS*/

.thesis h1 {
    text-align: center;
    padding: 2rem 0;
    margin:0;
}
.thesiscontent {
    display: flex;
    padding-bottom: 2rem;
}
video {
    width: 100%;
}
.thesissmall {
    display: flex;
    padding: 1rem 1rem 0.5rem;
}
.thesisbox {
    max-width: 60%;
    padding: 2rem 1.5rem;

}
.mobilethesis{
    display: none;
}

/*Mobile*/
@media only screen and (max-width:480px){

.thesis{
    display:none;
}

.mobilethesis{
    display: block;
    padding: 2rem 0 1.5rem;
}

#thesisheading{
    margin: 0 0 1rem;
    text-align: center;
}
#thesisvideo{

}

}
/*Footer*/
span.terms {
    float: right;
}
footer {
    padding: 1rem 1.5rem 3rem;
    border-top: 1px solid;
}

/*Mobile*/
@media only screen and (max-width:480px){

    .terms{
        display: none;
    }
    footer{
        padding: 1rem;
        border: none;
    }
}