html {
    font-size: 16px;
}
/* HEADER */
header {
    position: fixed;
    width: 100%;
    z-index: 100;
    left: 0px;
    top: 0px;
    height: 4rem;
    background-color: white;
}

.content {
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    height: 100%;
}

#logo{
    height: 3rem;
}

.logo {
    flex: 1;
    font-size: 1.75rem;
    height: 2rem;
}

.content ul {
    list-style: none;
    text-decoration: none;
    display: flex;
}

.content ul li {
    padding-left: 1rem;
}

.mobile {
    display: none;
}

/*MOBILE NAVBAR*/

@media only screen and (max-width: 760px)
 {

    header .desktop, header .logo, #logo{
        display: none;
    }

    header .mobile{
        display: block;
    }
}

/*MAIN CONTENT*/

.maincontent {
    position: relative;
    top: 4.1rem;
}

/*Start here*/

.starthere {
    display: flex;
    background-color: darkgray;
    padding: 2rem 0;
    align-items: center;
}
.startcontent {
    width: 25rem;
}

.starthere img {
    max-width: 60%;
    padding: 0 1.5rem;
}

.startbutton {
    background-color: black;
    text-align: center;
    border: 1px black solid;
    padding: 0.5rem;
    opacity: 0.5;
    color: white;
}

/*Second Content*/

.secondcontent {
    display: flex;
    padding: 2rem 1.5rem;
}

/*Large box*/

.largerbox {
    max-width: 60%;
    padding: 0 1.5rem 0 0;
}
.largecontent img {
    max-width: 100%;
}

/*Small boxes*/

.smallerboxes {
    display: flex;
    max-width: 40%;
    flex-direction: column;
    bottom: 1rem;
    position: relative;
}
.smallcontent {
    display: flex;
    padding: 1rem 1rem 0.5rem 0rem;
}
.smallcontent img {
    max-width: 35%;
    height: auto;
}
.textbox {
    max-width: 65%;
    margin: 1.5rem 3.5rem;
}

/*START LEARNING*/

.learningcontent {
    background-color: lightgray;
    padding: 2rem 4.5rem;
}

.learningcontent h1 {
    text-align: center;
    margin: 0;
    padding-bottom: 2rem;
}

.smallboxes {
    display: flex;
    flex-wrap: wrap;
}

.smallbox {
    background-color: white;
    margin: 1rem;
}

.smallbox img {
    height: auto;
}