/* HEADER */
header {
    position: fixed;
    width: 100%;
    z-index: 100;
    left: 0px;
    top: 0px;
    height: 4rem;
}

.content {
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    height: 100%;
}

#logo{
    height: 3rem;
}

.logo {
    flex: 1;
    font-size: 1.75rem;
    height: 2rem;
}

.content ul {
    list-style: none;
    text-decoration: none;
    display: flex;
}

.content ul li {
    padding-left: 1rem;
}

.mobile {
    display: none;
}

/*MOBILE NAVBAR*/

@media only screen and (max-width: 760px)
 {

    header .desktop, header .logo, #logo{
        display: none;
    }

    header .mobile{
        display: block;
    }
}

/*MAIN CONTENT*/

.maincontent {
    position: relative;
    top: 4.1rem;
}

/*Start here*/

.starthere {
    display: flex;
    background-color: darkgray;
    padding: 2rem 0;
    align-items: center;
}
.startcontent {
    width: 25rem;
}

.imgcontainer {
    display: flex;
    padding: 0rem 1.5rem;
}

.imgcontainer img {
    width: 60%;
}

.startbutton {
    background-color: black;
    text-align: center;
    border: 1px black solid;
    padding: 0.5rem;
    opacity: 0.5;
    color: white;
}